<!--
  Generated template for the DetailsJokePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>details-joke</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="joke">
    <ion-item>
      <ion-textarea
          rows="4"
          type="text"
          placeholder="Setup"
          [(ngModel)]="joke.setup"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea
        rows="4"
        type="text"
        placeholder="Punchline"
        [(ngModel)]="joke.punchline"></ion-textarea>
    </ion-item>
    <button
      ion-button
      color="danger"
      outline
      (click)="delete()">Delete</button>
    <button ion-button color="dark" outline>Update</button>
  </ion-list>
  <h5 *ngIf="!joke">No joke found!!</h5>
</ion-content>
